$mobile: "only screen and (max-width : 767px)";
$small: "only screen and (max-width : 500px)";
$desktop: "only screen and (min-width : 768px)";
// @media #{$mobile} {
//     margin-bottom: 100px;
// }
@media #{$desktop} {
    .desktop-hide {
        display: none;
    }
}

.pt-10 {
    padding-top: 10px;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url('DINCondensed-Bold.eot');
    src: url('../fonts/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINCondensed-Bold.woff2') format('woff2'), url('../fonts/DINCondensed-Bold.woff') format('woff'), url('../fonts/DINCondensed-Bold.ttf') format('truetype'), url('../fonts/DINCondensed-Bold.svg#DINCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../fonts/TradeGothicLT-BoldExtended.eot');
    src: url('../fonts/TradeGothicLT-BoldExtended.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicLT-BoldExtended.woff2') format('woff2'), url('../fonts/TradeGothicLT-BoldExtended.woff') format('woff'), url('../fonts/TradeGothicLT-BoldExtended.ttf') format('truetype'), url('../fonts/TradeGothicLT-BoldExtended.svg#TradeGothicLT-BoldExtended') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$bg-color: #0e0e0e;
$white: #ffffff;
$font-dinCondensed: 'DIN Condensed';
html {
    scroll-behavior: smooth;
}

body {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .ab-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
}

// .your-style {
//     font-family: 'DIN Condensed';
//     font-weight: bold;
//     font-style: normal;
// }
nav.bg-transparent {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    min-height: 110px;
    a {
        color: $white;
    }
    a.navbar-brand.custom-logo-link {
        img {
            max-width: 200px;
        }
    }
    a.back-home {
        font-family: 'TradeGothic LT';
        font-size: 14px;
        line-height: 24px;
        opacity: .75;
        &::before {
            content: "\f104";
            font-family: fontawesome;
            font-size: 18px;
            padding-right: 8px;
            position: relative;
            top: 1px;
        }
    }
    a.cta_btn {
        font-family: 'TradeGothic LT';
        font-size: 14px;
        line-height: 24px;
        opacity: .75;
    }
    .cbn_custom_logo {
        img {
            max-width: 110px !important;
        }
    }
    .cody_jinks_custom_logo {
        img {
            max-width: 200px;
        }
    }
}

section.page_header {
    min-height: 349px;
    text-align: center;
    color: $white;
    .banner-content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 350px;
        padding-top: 110px;
        .pre-title {
            color: #6e6e6e;
            font-family: $font-dinCondensed;
            font-size: 24px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 2px;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
        }
        h1.title {
            color: $white;
            font-family: $font-dinCondensed;
            font-size: 75px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 95px;
            text-align: center;
            text-transform: uppercase;
            @media #{$mobile} {
                font-size: 50px;
                line-height: 60px;
            }
        }
        .social-share-icons {
            font-family: $font-dinCondensed;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

section.preview-stream {
    padding: 100px 0;
    @media #{$mobile} {
        padding: 50px 0;
    }
    background-color: $bg-color;
    .preview {
        @media #{$mobile} {
            margin-bottom: 50px;
        }
        article>.image-container {
            max-width: 390px;
            border: 2px solid #ffffff;
            @media #{$mobile} {
                margin: 0 auto;
            }
        }
        .pre-order {
            padding-top: 25px;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    display: inline-block;
                    width: 30%;
                    .image-container {
                        img {
                            max-width: 105px;
                            max-height: 27px;
                            @media #{$mobile} {
                                max-width: 80px;
                            }
                        }
                    }
                    a {
                        span {
                            color: #797979;
                            font-family: $font-dinCondensed;
                            font-size: 14px;
                            font-weight: 700;
                            font-style: normal;
                            letter-spacing: 1px;
                            line-height: normal;
                            text-align: left;
                            text-transform: uppercase;
                            display: inline-block;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .stream {
        h2.title {
            color: $white;
            font-family: $font-dinCondensed;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
            border-bottom: 2px solid #0166ab;
            padding-bottom: 12px;
            @media #{$mobile} {
                font-size: 30px;
                line-height: 40px;
            }
            @media #{$small} {
                font-size: 22px;
                line-height: 32px;
            }
        }
        .steream-list {
            display: flex;
            flex-wrap: wrap;
            @media #{$mobile} {
                justify-content: space-between;
            }
            .item {
                padding: 40px;
                @media #{$small} {
                    padding-left: 0;
                    padding-bottom: 0;
                    padding-right: 10px;
                }
                &:first-child {
                    padding-left: 0;
                }
                .play_btn {
                    display: none;
                }
                &:hover {
                    .play_btn {
                        position: absolute;
                        top: calc(50% - 20px);
                        color: #fff;
                        font-size: 30px;
                        display: block;
                        left: calc(50% - 10px);
                    }
                }
                .image-container {
                    max-width: 170px;
                    max-height: 170px;
                    overflow: hidden;
                    position: relative;
                    img {
                        max-width: 100%;
                    }
                }
                h3.title {
                    color: $white;
                    font-family: 'TradeGothic LT';
                    font-size: 14px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 23px;
                    text-align: left;
                    text-transform: uppercase;
                    max-width: 185px;
                    margin: 15px 0;
                }
                .listen-on {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            display: inline-block;
                            padding-left: 10px;
                            &:first-child {
                                padding-left: 0;
                            }
                            @media #{$mobile} {
                                padding-left: 0;
                                display: block;
                                padding-bottom: 5px;
                            }
                            .image-container {
                                img {
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
                @media #{$mobile} {
                    width: calc(50% - 10px);
                }
            }
        }
    }
}

section.explore {
    padding: 80px 0;
    background-color: #1a1a1a;
    @media #{$mobile} {
        padding: 50px 0;
    }
    h2.title {
        color: $white;
        font-family: $font-dinCondensed;
        font-size: 40px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid #0166ab;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    a.view_all_merch {
        font-family: 'TradeGothic LT';
        font-size: 14px;
        line-height: 24px;
        opacity: .75;
        color: $white;
        &::after {
            content: "\f105";
            font-family: fontawesome;
            font-size: 18px;
            padding-left: 8px;
            position: relative;
            top: 1px;
        }
    }
    .product-list {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        li {
            display: inline-block;
            width: calc( 25% - 5px);
            margin: 0;
            @media #{$mobile} {
                width: calc( 50% - 5px);
            }
            .item {
                padding-top: 30px;
            }
            .image-container {
                max-height: 200px;
                max-width: 200px;
                overflow: hidden;
                // display: flex;
                // align-items: center;
                img {
                    max-width: 100%;
                }
            }
            h3.title {
                color: $white;
                font-family: "TradeGothic LT";
                font-size: 14px;
                font-style: normal;
                letter-spacing: normal;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
                padding-top: 30px;
                padding-right: 15px;
            }
            span.price {
                opacity: 0.5;
                color: $white;
                font-family: "TradeGothic LT";
                font-size: 12px;
                font-style: normal;
                letter-spacing: normal;
                line-height: 20px;
                text-align: left;
            }
        }
    }
}

section.cta_with_logo {
    padding: 20px 0;
    text-align: center;
    min-height: 134px;
    border-top: 1px solid rgba(255, 255, 255, .5);
    .logo-container {
        max-width: 110px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .explore_link {
        opacity: 0.75;
        color: $white;
        font-family: "TradeGothic LT";
        font-size: 14px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        &::after {
            content: "\f105";
            font-family: fontawesome;
            font-size: 18px;
            padding-left: 8px;
            position: relative;
            top: 1px;
            color: #f0681d;
        }
    }
    .cta_box {
        height: calc(134px - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer {
    padding: 80px 0;
    background-color: $bg-color;
    border-top: 1px solid rgba(255, 255, 255, .5);
    @media #{$mobile} {
        padding: 50px 0;
    }
    .newsletter {
        h2.title {
            color: $white;
            font-family: $font-dinCondensed;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media #{$mobile} {
                text-align: center;
            }
        }
        .form-control {
            background-color: transparent !important;
            border-radius: 0;
            border: 1px solid rgba(255, 255, 255, .5);
            border-right: 0;
            color: #ffffff;
            &::placeholder {
                opacity: 0.75;
                color: $white;
                font-family: "TradeGothic LT";
                font-size: 12px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                text-transform: uppercase;
            }
            @media #{$mobile} {
                margin-bottom: 15px;
            }
        }
        .input-group-btn button.btn {
            color: $white;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 0;
            border-left: 0;
        }
    }
    .social-icons {
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
        @media #{$mobile} {
            justify-content: center;
            padding-top: 15px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                a {
                    color: $white;
                    padding: 0 10px;
                }
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.footer-bottom {
    color: $white;
    font-family: "TradeGothic LT";
    font-size: 12px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: $bg-color;
    padding: 20px 0;
    span {
        opacity: .5;
    }
}


/****CBN****/

.template_cbn {
    section.preview-stream .stream h2.title {
        border-bottom: 2px solid #f06b3d;
    }
    section.explore h2.title {
        border-bottom: 2px solid #f06b3d;
    }
    section.cta_with_logo .logo-container {
        max-width: 200px;
    }
    section.cta_with_logo .explore_link::after {
        color: #0166ab;
    }
}


/****Coming Soon****/

body.coming-soon {
    background: rgba(14, 14, 14, 1);
    .page_title_box {
        position: absolute;
        top: 170px;
        width: 100%;
        text-align: center;
        z-index: 999999;
        @media only screen and (max-width: 500px) {
            top: 150px;
        }
        h1.page-title {
            color: #ffffff;
            font-family: $font-dinCondensed;
            font-size: 100px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 95px;
            text-transform: uppercase;
            padding: 20px 50px;
            background: #000000;
            display: inline-block;
            @media #{$mobile} {
                font-size: 75px;
                line-height: 75px;
                background: transparent;
                padding: 15px;
            }
            @media only screen and (max-width: 500px) {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
    .left-side {
        height: 100vh;
        text-align: center;
        padding: 50px 0;
        border-right: 1px solid #ffffff;
        @media #{$mobile} {
            border-right: 0;
            height: auto;
            border-bottom: 2px solid rgba(255, 255, 255, .5);
            .content-box {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .image-container {
            max-width: 380px;
            margin: 0 auto;
            border: 2px solid #ffffff;
        }
        .logo-container {
            max-width: 200px;
            margin: 0 auto;
            margin-bottom: 280px;
            min-height: 50px;
            @media #{$mobile} {
                margin-bottom: 250px;
            }
        }
        h2.title {
            color: #6e6e6e;
            font-family: "TradeGothic LT";
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            padding: 30px 0;
        }
        .bottom-cta {
            padding: 30px 0;
            a.cta-link {
                color: #ffffff;
                font-family: "TradeGothic LT";
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                &::after {
                    content: "\f105";
                    font-family: fontawesome;
                    font-size: 18px;
                    padding-left: 8px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .right-side {
        height: 100vh;
        text-align: center;
        padding: 50px 0;
        @media #{$mobile} {
            height: auto;
            .content-box {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .image-container {
            max-width: 380px;
            margin: 0 auto;
            border: 2px solid #ffffff;
        }
        .logo-container {
            max-width: 200px;
            margin: 0 auto;
            margin-bottom: 280px;
            min-height: 50px;
            @media #{$mobile} {
                margin-bottom: 50px;
            }
            img {
                max-height: 50px;
            }
        }
        h2.title {
            color: #6e6e6e;
            font-family: "TradeGothic LT";
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            padding: 30px 0;
        }
        .bottom-cta {
            padding: 30px 0;
            a.cta-link {
                color: #ffffff;
                font-family: "TradeGothic LT";
                font-size: 14px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                &::after {
                    content: "\f105";
                    font-family: fontawesome;
                    font-size: 18px;
                    padding-left: 8px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

.mobile-buttons {
    display: none;
}

@media #{$mobile} {
    .mobile-hide {
        display: none;
    }
    .mobile-buttons {
        display: flex;
        width: 100%;
        align-content: space-around;
        a {
            width: 50%;
            display: inline-block;
        }
    }
    .navbar .container {
        justify-content: center;
    }
    .navbar-brand.custom-logo-link.cody_jinks_custom_logo {
        margin-bottom: 10px;
    }
}


/*****Music Player****/

#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height: 40px;
    width: 40px;
    padding: 12px 18px;
    z-index: 2;
    //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-image: url('../images/play-button.png');
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
}

.play {
    //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-image: url('../images/play-button.png');
}

.pause {
    //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
    background-image: url('../images/push-button.png') !important;
}


/***End Music player***/